<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amethyst Labs</title>
    <meta name="description" content="We use AI and p2p network to optimize your daily life without hurting your privacy.">
    <meta property="og:title" content="Know thy proximity" />
    <meta property="og:description" content="We use AI and p2p network to optimize your daily life without hurting your privacy." />
    <meta property="og:image" content="/images/logo_hi.png">
    <link rel='shortcut icon' href='../images/favicon.png' type='image/x-icon'/ >
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/glitch_logo.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/beautifulButtons.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/normalize.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/material-photo-gallery.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/buttons_FILES/css/buttons.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/unsemantic-master/assets/stylesheets/unsemantic-grid-base.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/unsemantic-master/assets/stylesheets/unsemantic-grid-desktop.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/animate.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/set2.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/themify-icons.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/queryLoader.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/default.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/hover-effects.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
    <!-- scripts -->
    <!--<script src="../js/jquery-1.12.0.min.js"></script>-->
    <script src="../js/jquery/external/jquery/jquery.js"></script>
    <script src="../js/jquery/jquery-ui.min.js"></script>
    <script src="../js/sly.min.js"></script>
    <script src="../js/snap.svg-min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/modernizr.custom.js"></script>
    <script type='text/javascript' src='../js/queryloader2/queryloader2.min.js'></script>
    <script type="text/javascript" src="../js/viewport.min.js"></script>
    <script type='text/javascript'>
            window.addEventListener('DOMContentLoaded', function() {
            QueryLoader2(document.querySelector("body"), {
                barColor: "#fff",
                backgroundColor: "#111",
                percentage: false,
                barHeight: 1,
                minimumTime: 200,
                fadeOutTime: 500
            });
        });
    </script>
</head>
