<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

      <div id="mainContainer">
        <img src="../images/backgroundMain.png" style="position: absolute; visibility: hidden;" />
        <video autoplay loop muted id="bgvid">
            <source src="../images/video.mp4" type="video/mp4">
        </video>

      {{ content }}


    {% include footer.html %}

      </div>

    <script type='text/javascript'>
        window.addEventListener('DOMContentLoaded', function() {
        QueryLoader2(document.querySelector("body"), {
            barColor: "#fff",
            backgroundColor: "#111",
            percentage: false,
            barHeight: 1,
            minimumTime: 200,
            fadeOutTime: 1000
        });
    });
    </script>
      
    <script type="text/javascript">
          // Opera 8.0+
          var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
          // Firefox 1.0+
          var isFirefox = typeof InstallTrigger !== 'undefined';
          // At least Safari 3+: "[object HTMLElementConstructor]"
          var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
          // Internet Explorer 6-11
          var isIE = /*@cc_on!@*/false || !!document.documentMode;
          // Edge 20+
          var isEdge = !isIE && !!window.StyleMedia;
          // Chrome 1+
          var isChrome = !!window.chrome && !!window.chrome.webstore;
          // Blink engine detection
          var isBlink = (isChrome || isOpera) && !!window.CSS;
          
          if(isFirefox){
              $('body').css('background-color','black');
              $('video').remove();
          }
      </script>
      
  </body>

</html>
